#myBtn {
    position: fixed;
    bottom: 150px;
    left: 85%;
    z-index: 1;
    outline: none;
    background-color: #7BAF28;
    cursor: pointer;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    height: 70px;
    width: 85px;
    border-style: none;
    text-align: right;
  }
  #myBtn:hover {
    width: 95px;
    transition: 0.2s ease-in-out;
    background-color: #7BAF28;
  }
  .button {
    width: 28px;
    justify-content: center;
    margin-right: 20px;
  }
  .myBtnOn {
    animation: show 1s forwards;
    display: block;
  }
  .myBtnOff {
    display: none;
  }
  @keyframes show {
  0% {
  opacity: 0;
  }
  100% {
  opacity: 1;
  }
  }

#mySidenav a {
  position:absolute;
  left: 85%;
  width: 60px;
  height: auto;
  padding: 15px;
  display: flex;
  justify-content: flex-end;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
  #share {
    background-color: rgb(93, 189, 226);
    top: 275px;
  }
  #download {
    background-color: rgb(231, 118, 161);
    top: 360px;
  }
  #discover {
    background-color: rgb(255, 211, 146);
    top: 445px;
  }
  #mySidenav #share:hover {
    background-color: rgb(54, 198, 255);
    width: 70px;
    transition: 0.2s;
    }
  #mySidenav #download:hover {
    background-color:rgb(235, 66, 130);
    width: 70px;
    transition: 0.2s ease-in-out;
  }
  #mySidenav #discover:hover {
    background-color:rgb(255, 212, 72);
    width: 70px;
    transition: 0.2s ease-in-out;
  }
  .sidenavico {
      height: 35px;
  }
  input {
    width: 20px;
    height: 20px;
}

#mySidenavb a {
  position:fixed;
  left: 85%;
  width: 60px;
  height: auto;
  padding: 15px;
  display: flex;
  justify-content: flex-end;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
  #quick {
    background-color: rgb(93, 189, 226);
    top: 275px;
  }
  #main {
    background-color: rgb(231, 118, 161);
    top: 360px;
  }
  #veggie {
    background-color: rgb(105, 206, 122);
    top: 445px;
  }
  #dessert {
    background-color: rgb(255, 211, 146);
    top: 530px;
  }
  #mySidenavb #quick:hover {
    background-color: rgb(54, 198, 255);
    width: 70px;
    transition: 0.2s;
    }
  #mySidenavb #main:hover {
    background-color:rgb(235, 66, 130);
    width: 70px;
    transition: 0.2s ease-in-out;
  }
  #mySidenavb #veggie:hover {
    background-color:rgb(105, 206, 122);
    width: 70px;
    transition: 0.2s ease-in-out;
  }
  #mySidenavb #dessert:hover {
    background-color:rgb(255, 212, 72);
    width: 70px;
    transition: 0.2s ease-in-out;
  }
  .sidenavico {
      height: 35px;
  }