.containers {
    display: flex;
    flex-wrap:nowrap;
    justify-content: center;
    align-content:center;
    width: 100%;
    }
    .container {
      height: 500px;
      position: relative;
      object-fit: cover;
      margin: 10px;
    }
    .image {
        object-fit: cover;
        width:100%;
        height: 400px;
    }
    p {
        position: absolute;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }
    .text {
        top: 33%;
        text-transform:uppercase;
        visibility: hidden;
        opacity: 0;
        color: black;
        position: absolute;
        font-family: 'poppins', sans-serif;
        font-weight: 900;
        font-size: 35px;
        font-weight: bold;
        text-align: left;
        line-height: 28pt;
        padding: 60px;
        overflow: hidden;
    }
    .container:hover .text {
        visibility: visible;
        opacity: 1;
        transition: 0.8s ease;
    }
    .container:hover .image {
        transition: 0.2s ease;
        opacity: 0.5;
    }


.containersmain {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    align-items:center;
    align-content: center;
    width: 100%;
    }
    .containermain {
        width: 380px;
        position: relative;
        object-fit: cover;
        margin: 10px;
      }

    .imagemain {
        object-fit: cover;
        height: 380px;
    }
    .textmain {
        top: 43%;
        text-transform:uppercase;
        visibility: hidden;
        opacity: 0;
        color: black;
        position: absolute;
        font-family: 'poppins', sans-serif;
        font-weight: 900;
        font-size: 35px;
        font-weight: bold;
        text-align: left;
        line-height: 28pt;
        padding: 60px;
        overflow: hidden;
    }
    .containermain:hover .textmain {
        visibility: visible;
        opacity: 1;
        transition: 0.8s ease;
    }
    .containermain:hover .imagemain {
        transition: 0.2s ease;
        opacity: 0.5;
    }
