@import "table.css";
@import "buttons.css";
@import "smallersize.css";
@import "containers.css";

html {
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
}
body {
    background-color: #dad1d1;
    margin: 0;
}
.header {
    background-color: white;
    padding: 12px 10px 5px 10px;
    }
    .logoheader {
        height: 55px;
        margin-left: 14.5%;
    }

.body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    }
    .mainpaper {
        width: 70%;
        background-color: white;
        padding: 20px 60px 60px 60px;
        z-index: 3;
        margin-top: 50px;
        margin-bottom: 30px;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.253);
    }
    .mainpapermain {
        width: 70%;
        background-color: white;
        padding: 65px 65px 80px 65px;
        z-index: 3;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .body2 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: flexs-start;
        justify-content: space-between;
        z-index: 2;
    }
    .left {
        width: 40%;
        }
    .right {
        width: 56%;
    }
    
.hflex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    margin: 30px 0px 0px 0px;
}
.hflex.inspo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}
h1 {
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    text-align: center;
    font-size: 35px;
    color: black;
    line-height: 1em;
}
h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: black;
    width: 80%;
}
h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 30px;
    color: black;
    margin-top: 100px;
    margin-bottom: 0px;
}
h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: black;
    margin-top: 100px;
    margin-bottom: 0px;
}
.ico.icowidthb {
        width: 28px;
        margin-right: 10px;
    }
    .ico.icowidthd {
        width: 25px;
        margin-right: 10px;
    }
    .ico.icowidthi {
        width: 21px;
        margin-right: 10px;
    }
    .ico.icowidthf {
        width: 32px;
        margin-right: 10px;
    }


.footer {
    position: static;
    bottom: 0;
    width: 100%;
    background-color: white;
    margin-top: 20px;
    height: 8rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    }
    .footericon {
        text-align: center;
        margin: 10px;
    }
    .footericon.ica {
        width: 50px;
    }
    .footericon.tb {
        width: 30px;
        margin-left: 30px;
        margin-right: 30px;
    }
    .footericon.maxi {
        width: 50px;
    }
.menu {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content:center;
    padding-bottom:50px;
}
.menuhash {
    height: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 15px;
    border-radius: 3px;
    outline: solid 2px rgb(224, 224, 224);
    border: 0;
    background-color: rgb(224, 224, 224);
    padding: 2px 20px 2px 20px;
    letter-spacing: 1px;
    margin: 10px;
    cursor: pointer;
}
.menuhash:hover {
    height: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 15px;
    border-radius: 3px;
    outline: solid 2px rgb(231, 208, 208);
    border: 0;
    background-color: rgb(231, 208, 208);
    padding: 2px 20px 2px 20px;
    letter-spacing: 1px;
    margin: 10px;
}  
.menuhash.menuico {
    width: 40px;
    height: 40px;
    padding:2px 0px 0px 2px;
    margin: 10px 5px;
}  

input.searchbar {
    width: 370px;
    height: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 15px;
    border-radius: 3px;
    outline: solid 2px rgb(224, 224, 224);
    border: 0;
    background-color: rgb(224, 224, 224);
    padding: 2px 20px 2px 20px;
    letter-spacing: 1px;
    margin-right: 20px; 
}
input.searchbar:hover {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 15px;
    border-radius: 3px;
    outline: solid 2px rgb(209, 209, 209);
    padding: 2px 20px 2px 20px;
    letter-spacing: none;
    transition: 0.15s ease-in;
}
input.searchbar:focus {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 15px;
    border-radius: 5px;
    outline: solid 2px rgb(179, 179, 179);
    padding: 2px 20px 2px 20px;
    letter-spacing: none;
}
