@media all and (max-width: 1000px) {
        .header {
            background-color: white;
            padding: 10px 5px 3px 5px;
            text-align: center;
            }
            .logoheader {
                height: 45px;
                margin-left: 0;
            }
        .mainpaper {
            width: 100%;
            background-color: white;
            padding: 10px 30px 30px 30px;
            z-index: 3;
            margin-top: 10px;
            margin-bottom: 10px;
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.253);
        }
        .mainpapermain {
            width: 100%;
            background-color: white;
            padding: 80px 60px 80px 60px;
            z-index: 3;
            margin-top: 30px;
            margin-bottom: 30px;
        }
        .left {
            width: 100%;
            }
        .right {
            width: 100%;
        }
        h1 {
            text-transform: uppercase;
            font-family: 'Poppins', sans-serif;
            font-weight: 900;
            text-align: center;
            font-size: 25px;
            color: black;
            line-height: 1em;
        }
        h2 {
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
            font-size: 16px;
            color: black;
            margin: auto;
            margin-left: 10px;
            width: 80%;
        }
        h3 {
            font-family: 'Poppins', sans-serif;
            font-weight: 800;
            font-size: 18px;
            color: black;
            margin-top: 100px;
            margin-bottom: 0px;
        }
            .ico.icowidthb {
                width: 20px;
                margin-bottom: 3px;
            }
            .ico.icowidthd {
                width: 20px;
                margin-bottom: 3px;
            }
            .ico.icowidthi {
                width: 15px;
                margin-bottom: 3px;
            }
            .ico.icowidthf {
                width: 25px;
                margin-bottom: 3px;
            }
            .ico.inspo {
                width: 15px;
                margin-bottom: 3px;
            }
        .introimg {
            width: 100%;
            height: 150px;
            object-fit: cover;
            margin-bottom: 5px;
        }
        .introico {
            width: 25px;
        }
        .hflex {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-content: center;
            justify-content: center;
            align-items: center;
            margin-top: 30px;
            margin-bottom: 0px;
        }
        table:not(.irrelevant) th, td {
            font-size: 15px;
        }
        table.intro {
            border-collapse: collapse;
            border: none;
            text-align: center;
        }
        table.intro th, td {
            width: 300px;
        }
        table.intro td {
            font-size: 14px;
            font-family: 'Poppins', sans-serif;
            color: black;
            font-weight: 600;
            padding-bottom: 30px;
        }
        .introtablebackground {
            background-color: #eee9e9;
            margin-bottom: 10px;
        }
        

        table.sastojci th {
            font-weight: 600;
            background-color: #eee9e9;
            padding-left: 5%;
            width: 30%;
        }
        table.sastojci td {
            padding: 10px;
            background-color: #eee9e9;
        }
        .sastojciicon {
            width: 18px;
        } 


        table.predlog td {
            padding: 20px 30px;
            background-color: #eee9e9;
        }
        

        table.nutricija {
            border-collapse: collapse   ;
            border-spacing: 0px 5px;
            font-family: 'Poppins', sans-serif;
            color: black;
            width: 100%;
            text-align: left;
            background-color: #eee9e9;
            margin-top: 5px;
        }
        .linija {
            border-bottom: 1px solid black;
        }
        table.nutricija th {
            font-weight: 600;
            padding-left: 5%;
            width: 30%;
        }
        table.nutricija td {
            padding: 10px;
            text-align: right;
            padding-right: 30px;
        }
        table.nutricija tr.special {
            background-color: #e2dede;
        }


        table.priprema {
            border-collapse: separate;
            border-spacing: 0px 5px;
            font-family: 'Poppins', sans-serif;
            color: black;
            width: 100%;
            text-align: left;
        }
        table.priprema th {
            font-weight: 800;
            background-color: #eee9e9;
            padding-left: 4%;
        }        
        table.priprema td {
            font-weight: 400;
            background-color: #eee9e9;
            padding: 20px 20px 20px 30px;
        }
        
    }