
.introimg {
    width: 100%;
    height: 280px;
    object-fit: cover;
    margin-bottom: 5px;
}
.introico {
    width: 38px;
}
.introtablebackground {
    background-color: #eee9e9;
    margin-bottom: 30px;
}
table.intro {
    border-collapse: collapse;
    border: none;
    text-align: center;
    table-layout: fixed;
    width: 100%;
}
table.intro th {
    padding-top: 25px;
    padding-bottom: 10px;
}
table.intro td {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: black;
    font-weight: 600;
    padding-bottom: 25px;

}
table.sastojci {
    border-collapse: separate;
    border-spacing: 0px 5px;
    font-family: 'Poppins', sans-serif;
    color: black;
    width: 100%;
    text-align: left;
}
table.sastojci th {
    font-weight: 600;
    background-color: #eee9e9;
    padding-left: 5%;
    width: 30%;
}
table.sastojci td {
    padding: 10px;
    background-color: #eee9e9;
}
.sastojciicon {
    width: 18px;
}

table.predlog {
    border-collapse: separate;
    border-spacing: 0px 5px;
    font-family: 'Poppins', sans-serif;
    color: black;
    width: 100%;
    text-align: left;
}
table.predlog td {
    padding: 20px 30px;
    background-color: #eee9e9;
}

table.nutricija {
    border-collapse: collapse   ;
    border-spacing: 0px 5px;
    font-family: 'Poppins', sans-serif;
    color: black;
    width: 100%;
    text-align: left;
    background-color: #eee9e9;
}
.linija {
    border-bottom: 1px solid black;
}
table.nutricija th {
    font-weight: 600;
    padding-left: 5%;
    width: 30%;
}
table.nutricija td {
    padding: 10px;
    text-align: right;
    padding-right: 30px;
}
table.nutricija tr.special {
    background-color: #e2dede;
}

table.priprema {
    border-collapse: separate;
    border-spacing: 0px 5px;
    font-family: 'Poppins', sans-serif;
    color: black;
    width: 100%;
    text-align: left;
}

table.priprema th {
    font-weight: 800;
    background-color: #eee9e9;
    padding-left: 3%;
    width: 8%;
}

table.priprema td {
    background-color: #eee9e9;
    padding: 20px;
}
